/** https://material-ui.com/customization/color/ **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #6C63FF;
    --secondary: #f50057;
    --primary-dark: #4b45b2;
    --secondary-dark: #ab003c;
    --off-white: 	#fffff4;
    --white: #ffffff
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 1em;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.primary-link {
   color: var(--primary);
   text-decoration: none;
   font-size: 1.1rem;
}

.hero {
    border-radius: 2rem;
    max-width: 300px;
    height: auto;
}
