/** https://material-ui.com/customization/color/ **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #6C63FF;
    --secondary: #f50057;
    --primary-dark: #4b45b2;
    --secondary-dark: #ab003c;
    --off-white: #f8f8f8;
    --white: #ffffff
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.primary-link {
    display: block;
   color: var(--primary);
   text-decoration: none;
   font-size: 1.1rem;
   padding: 0.5rem;
}

.secondary-link {
   display: block;
   color: var(--secondary);
   text-decoration: none;
   font-size: 1.1rem;
   padding: 0.5rem;
}


.nav {
    padding: 1rem 1rem 0rem 1rem;
    background-color: var(--off-white);
}

.nav .active {
    font-weight: bolder;
}

.nav .logo {
    font-weight: bolder;
    color: var(--primary-dark);
}

.nav li {
    display: inline-block;
    padding: 0.5rem;
}

.nav ul {
    text-align: right;
}

header {
    padding: 2rem 1rem 2rem 1rem;
}

header h1 {
    text-align: center;
    padding-top: 1rem;
    color: darkgray
}

header .hero {
    border-radius: 2rem;
    max-width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

.ow {
    background-color: var(--off-white);
}

section {
    padding: 2rem 1rem 2rem 1rem;
}


/** footer **/

footer {
    padding: 2rem 1rem ;
    background-color: var(--primary-dark);
    color: var(--white)
}

footer a {
    color: var(--white)
}

footer li {
    list-style: none;
    padding: 0.5rem;;
}

.text-m {
    font-size: 1.2rem;
}

/** Projects Page **/

.projects .date {
   margin-bottom: -0.7rem;
   font-size: 0.8rem;
   
}